.container {
    display: grid;
    grid-template-columns: 377px 1fr 1fr 1fr;
    margin: 0 auto;
    column-gap: 12px;
}

.text{
    width: fit-content;
    padding-left: 12px;
}
.resetBtn{
    margin-left: 68px;
}
.output{
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}
.circle{
    margin-bottom: 10px;
}
@media screen and (max-width: 1024px) {
    .container{
        row-gap: 10px;
    }
    .resetBtn{
        margin-left: 20px;
    }

}
