.container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.radio{
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
    width: 200px;
}
.method{
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
    width: 362px;
}

.output{
    display: flex;
    justify-content: center;
    align-items: end;
    margin-top: 48px;
}
.arrayItem{
    background-color: #0032ff;
    margin-right: 10px;
    width: 50px;
}

@media screen and (max-width: 1023px) {
    .arrayItem{
        width: 30px;
        margin-right: 6px;
    }

}