.container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.radio{
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
    width: 200px;
}
.method{
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
    width: 362px;
}

.output{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: end;
    margin-top: 48px;
}

.item{
    margin-right: 10px;
}
.sorted {
    background-color: #7FE051;
}
.active{
    background-color: #D252E1;
}
@media screen and (max-width: 1023px) {
    .item{
        margin-right: 6px;
    }

}